body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: #000;
  font-style: normal;
  background-color: #fff;
  background-position: top center; 
}

.container {
	width: 1224px;
	margin: 0 auto;
}


a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.main-nav a{
	color: #000;
}


.header-top {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header-top_advertisement {
	display: block;
	background-color: #f3f3f3;
	font-weight: 10;
	text-align: center;
	font-size: 16px;
	padding-top: 61px;
	padding-bottom: 61px; 
	width: 273px;
	margin: 13px;
	border: 1px solid #cbcbcb;

}

.header-top_logobox {
	display: block;
	list-style-type: none;
	width: 572px;
	height: 188px;
	margin: 13px;
	border: 0px solid #cbcbcb;
}

.logo {
	display: block;
	text-align: center;
	color: #000;
	background-color: #f3f3f3;
	font-size: 20px;
	padding-top: 49px;
	padding-bottom: 49px;
	width: 572px;
	border: 1px solid #cbcbcb;
}

.logo-nav {
	display: flex;
	padding: 0px;
	justify-content: center;
	align-items: stretch;
}

.logo-nav_list {
	display: block;
	background-color: #a9a9a9;
	color: #000;
	text-align: center;
	flex-grow: 1;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -4px;
	width: 183px;
	border: 1px solid #919191;
}

.main-nav {
	display: flex;
	padding: 0px;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 25px;
}

.main-nav__list {
	display: block;
	background-color: #a9a9a9;
	flex-grow: 1;
	font-size: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 80px;
	padding-right: 80px;
	border: 1px solid #919191;
}

.search {
	display: flex;
	width: 1170px;
	height: 86px;
	border: 1px solid #919191;
	background-color: #d2d2d2;
	margin: 0 auto;
	margin-bottom: 25px;

}

.search-word {
	display: block; 
	margin-top: 14px;
    margin-left: 14px;
	font-size: 20px;

}

input {
	margin-top: 19px;
	margin-bottom: 19px;
	margin-right: 22px;
	margin-left: 17px;
	width: 686px;
	height: 50px;
	padding-left: 10px;
	border: 1px solid #919191;
	background-color: #ffffff;
	font-size: 20px;
	outline: none;
}

.button-go {
	width: 62px;
	height: 50px;
	font-size: 20px;
	margin-top: 19px;
	margin-bottom: 19px;
	border: 1px solid #919191;
	background-color: #ffffff;
}
	
.advanced-search {
	display: block;
	margin-top: 48px; 
	margin-bottom: 19px;
    margin-left: 25px;
	font-size: 16px;
}

.video-title {
	width: 186px;
	font-size: 20px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 0px;
	margin-left: 24px;
	border: 1px solid #919191;
	background-color: #d2d2d2;
}

.video-spotlite_line {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.video-spotlite_box {
	display: block;
	background-color: #f3f3f3;
	font-weight: 10;
	text-align: center;
	font-size: 20px;
	padding-top: 93px;
	padding-bottom: 94px; 
	width: 274px;
	margin-top: 0px;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 24px;
	border: 1px solid #cbcbcb;
}


.video-spotlite_bigbox {
	display: block;
	background-color: #f3f3f3;
	font-weight: 10;
	text-align: center;
	font-size: 20px;
	padding-top: 215px;
	width: 575px;
	margin-top: 0px;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 24px;
	border: 1px solid #cbcbcb;
}

.header-top_bigadvertisement {
	display: block;
	background-color: #f3f3f3;
	font-weight: 10;
	text-align: center;
	font-size: 12px;
	padding-top: 86px; 
	width: 575px;
	margin-right: 12px;
	margin-left: 12px;
	border: 1px solid #cbcbcb;
	margin-bottom: 24px;
}

.gray {
	background-color: #d1d1d1;
}